@model Shared.Common.ProductSearchCommon
@{
    ViewBag.Title = "SearchedResult";
    
    var searchResultComputer = Model.ComputerList.Count == 0 ? "" : "tblComputers";
    
    //var searchResultType = "tblComputer";
}

<h2>SearchedResult</h2>
@if (Model.ComputerList.Count != 0 )
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h5>Filter Product</h5>
                <hr />
                <div id="filterBar">
                    <p>
                        <label for="amount" class="text-info">Price range:</label>
                        @*<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">*@
                    </p>
                    <div id="slider-range" style="border-radius:20px;"></div>
                    <div class="form-inline"><input type="number" id="minValue" class="col-5 m-2 form-control" /> <input type="number" id="maxValue" class="col-5 m-2 form-control" /></div>
                    <hr />

                </div>

            </div>
            <div class="col-lg-9">
                <h4 class="text-center" id="textFilter"> Searched Result </h4>
                <hr />
                <div id="filterResult">
                    <div class="container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h3 class="h3"> </h3>
                        <div class="row">

                            @if (Model.ComputerList.Count != 0)
                            {
                                foreach (var item in Model.ComputerList)
                                {
                                    item.Doc1 = WebApplication_ECommerceSystem_.Library.StaticData.GetDocumentPath() + item.Doc1;
                                    item.Doc2 = WebApplication_ECommerceSystem_.Library.StaticData.GetDocumentPath() + item.Doc2;

                                    <div class="col-md-4 col-sm-6">
                                        <div class="product-grid4">
                                            <div class="product-image4">
                                                <a href="#">
                                                    <img class="pic-1" src="@Url.Content(item.Doc1)">
                                                    <img class="pic-2" src="@Url.Content(item.Doc2)">
                                                </a>
                                                <ul class="social">
                                                    <li><a href='/ProductDetail/ComputerDetail?ProductReferenceId=@item.ProductReferenceId' data-tip="Quick View"><i class="mdi mdi-eye"></i></a></li>
                                                    @*<li><a href="" data-tip="Add to Wishlist"><i class="mdi mdi-heart"></i></a></li>*@
                                                    <li><a href="/UserCart/ComputerCart?ProductReferenceId=@item.ProductReferenceId" data-tip="Add to Cart"><i class="mdi mdi-cart"></i></a></li>
                                                </ul>


                                                <span class="product-new-label">New</span>
                                                <span class="product-discount-label">-@item.DiscountPercent%</span>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">@item.ProductName</a></h3>

                                                <div class="price">
                                                    Rs @item.ProductPrice
                                                    <span>Rs @item.OfferedPrice</span>
                                                </div>

                                                <a class="add-to-cart" href="/UserCart/ComputerCart?ProductReferenceId=@item.ProductReferenceId">ADD TO CART</a>
                                                @*<ul class="rating">
                                                        <li class="mdi mdi-star"></li>
                                                        <li class="mdi mdi-star"></li>
                                                        <li class="mdi mdi-star"></li>
                                                        <li class="mdi mdi-star disable"></li>
                                                        <li class="mdi mdi-star disable"></li>
                                                    </ul>*@
                                            </div>



                                        </div>
                                    </div>


                                }
                            }

                        </div>
                    </div>



                </div>

            </div>
        </div>

    </div>
}
else
{
    <div class="container-fluid" style="width:80vw; height:70vh;">
        <div class="justify-content-center display-1 text-muted">
            No Result Found

        </div>
    </div>
}




<script>
    var minPrice = 0;
    var maxPrice = 0;
    $(document).ready(function () {

        if ("@searchResultComputer" == "tblComputers") {
            minPrice = 10000;
            maxPrice = 500000;

            LoadComputerFilter();
        }
        
        rangeSlider();

        document.getElementById("filterBar").addEventListener("click", function () {
            if ($('#ComputerFilter').length)
            {
                FilterComputer();
            }
            

        });



    });



    function LoadComputerFilter() {
        debugger;
        var appendComDiv = "<div id='ComputerFilter'></div>";
        $("#filterBar").append(appendComDiv);
        var FilterHead = ["Brand", "Series", "ProcessorBrand", "ScreenSize", "OpeatingSystem", "GraphicProcessorCapacity", "HDDCapacity", "SuitableFor",  "GraphicProcessorBrand", "TouchScreen", "RamType", "ProcessorGeneration", "RAM", "GraphicProcessorGen", "SSD", "SSDVersiom", "SSDCapacity"];
        //var FilterHead = ["Brand"];
        FilterHead.forEach(myFunctionComputer);
    }
    function myFunctionComputer(item, index) {
        debugger;
        $.get("/ProductDetail/GetSearchFilterOptionForComputer?flag=" + item,
        function (data, status) {
            var html = "";
            html += "<h5 class ='text-info'>Select " + item + "</h5>";
            html += "<ul class='list-group overflow-auto'>";

            $.each(data,
                function (key, value) {

                    html += "<li class='list-group-item'> <div class='form-check'>  <label class='form-check-label'> <input type='checkbox' class='form-check-input product_check' value='"+ value+"' id='"+ item +"' /> " +value+ "  </label></div></li>  ";

                });
            html += "</ul><hr/>";

            $("#ComputerFilter").append(html);

        });
        return true;

    }


   
    function rangeSlider() {
        $(function() {
            $( "#slider-range" ).slider({
                range: true,
                min: minPrice,
                max: maxPrice,
                values: [minPrice, maxPrice],
                slide: function( event, ui ) {
                    //$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                     $("#minValue").val(ui.values[0]);
                     $("#maxValue").val(ui.values[1]);
                }
            });

            //$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

            $("#minValue").val( $("#slider-range").slider("values", 0));
            $("#maxValue").val($("#slider-range").slider("values", 1));

        });
    }




    function FilterComputer() {
        debugger;
        var mnPrice = $("#minValue").val();
        var mxPrice = $("#maxValue").val();
        var Brand = getFilter("Brand");
        var Series = getFilter("Series");
        var ProcessorBrand = getFilter("ProcessorBrand");
        var ScreenSize = getFilter("ScreenSize");
        var OpeatingSystem = getFilter("OpeatingSystem");
        var GraphicProcessorCapacity = getFilter("GraphicProcessorCapacity");
        var HDDCapacity = getFilter("HDDCapacity");
        var SuitableFor = getFilter("SuitableFor");
        var GraphicProcessorBrand = getFilter("GraphicProcessorBrand");
        var TouchScreen = getFilter("TouchScreen");
        var RamType = getFilter("RamType");
        var ProcessorGeneration = getFilter("ProcessorGeneration");
        var RAM = getFilter("RAM");
        var GraphicProcessorGen = getFilter("GraphicProcessorGen");
        var SSD = getFilter("SSD");
        var SSDVersiom = getFilter("SSDVersiom");
        var SSDCapacity = getFilter("SSDCapacity");

        $.ajax({
            type: 'POST',
            url: '@Url.Action("FilterComputer","ProductDetail")',
            //dataType: 'json',
            data: { minPrice: mnPrice, maxPrice: mxPrice, Brand: Brand, Series:Series,ProcessorBrand:ProcessorBrand, ScreenSize:ScreenSize,OpeatingSystem:OpeatingSystem,GraphicProcessorCapacity:GraphicProcessorCapacity, HDDCapacity:HDDCapacity,SuitableFor:SuitableFor, GraphicProcessorBrand:GraphicProcessorBrand,TouchScreen:TouchScreen,RamType:RamType, ProcessorGeneration:ProcessorGeneration, RAM:RAM,GraphicProcessorGen:GraphicProcessorGen,SSD:SSD,SSDVersiom:SSDVersiom,SSDCapacity:SSDCapacity },
            success: function (data) {
                LoadProductComputer(data);
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });

    }


    function getFilter(selectedId) {
        var Filter = [];
        $("#" + selectedId + ":checked").each(function () {
            Filter.push($(this).val());
        });
        return Filter;
    }




    

    function LoadProductComputer(data) {

        $("#filterResult").empty();
        var html = "";
        html += '<div class="container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" > <h3 class="h3"> </h3><div class="row">';
        $.each(data, function (key, value) {

            html += '<div class="col-md-4 col-sm-6">';
                html += ' <div class="product-grid4">';
                     html += '<div class="product-image4">';
                        html += '<a href="#">';
                            html += '<img class="pic-1" src="'+value.Doc1+'">';
                            html += ' <img class="pic-2" src="'+value.Doc2+'">';
                        html += '</a>';
                        html += '<ul class="social">';
                            html += "<li><a href='/ProductDetail/ComputerDetail?ProductReferenceId=" + value.ProductReferenceId + "' data-tip=\"Quick View\"><i class=\"mdi mdi-eye\"></i></a></li>";
                            //html += "<li><a href='/ProductDetail/ComputerDetail?ProductReferenceId=" + value.ProductReferenceId + "' data-tip=\"Add to Wishlist\"><i class=\"mdi mdi-heart\"></i></a></li>";
                            html += "<li><a href='/UserCart/ComputerCart?ProductReferenceId=" + value.ProductReferenceId + "' data-tip=\"Add to Cart\"><i class=\"mdi mdi-cart\"></i></a></li>";
                        html += "</ul >";
                        //html += '<span class="product-new-label">New</span>';
                        html += '<span class="product-discount-label"> -'+value.DiscountPercent+'%</span>';
                    html += '</div>';
                    html += '<div class="product-content">';
                        html += ' <h3 class="title"><a href="#">' + value.ProductName + '</a></h3>';

                        html += "<div class=\"price\" >Rs. " + value.ProductPrice + " <span>   Rs. " + value.OfferedPrice + "</span>";
                        html += '</div>';
                        html += '<a class="add-to-cart" href="/UserCart/ComputerCart?ProductReferenceId='+value.ProductReferenceId +'">ADD TO CART</a>';
                        html += '<ul class="rating"> <li class="mdi mdi-star"></li> <li class="mdi mdi-star"></li> <li class="mdi mdi-star"></li> <li class="mdi mdi-star disable"></li><li class="mdi mdi-star disable"></li></ul>';
                    html += '</div></div></div>';






            //html += "<li class='list-group-item'> <div class='form-check'>  <label class='form-check-label'> <input type='checkbox' class='form-check-input product_check' value='"+ value+"' id='"+ item +"' /> " +value+ "  </label></div></li>  ";

        });
        html += ' </div> </div>';


        $("#filterResult").append(html);
    }
 




</script>